body {
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.span-block{
  display: block;
}

.categories-nav,
.add-post {
  display: inline-block;
  vertical-align: middle;
}

.add-post i{
  text-align: right;
  font-size: 2.25em;
}

.add-post i,
.add-post span {
  display: inline-block;
  vertical-align: middle;
}

.categories-nav{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.categories-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.categories-nav li a {
  text-decoration: none;
  color: inherit;
  background: #efefef;
  padding: 10px;
  display: block;
}

.categories-nav li a:hover {

}

.categories-nav li a.active {
  background: #000;
  color: #fff;
}

/* POSTS */
.posts {
  width: 80%;
  margin: 0 auto;
}

.comments {
  width: 80%;
  margin: 2em 0;
}

.comments h2 {
  margin:0;
  text-align: left;
}

.posts a {
  text-decoration: none;
  color: inherit;
}

.posts .post,
.comments .comment {
  background: #efefef;
  padding: 1em;
  margin: 15px auto;
  text-align: left;
  position: relative;
}

.posts .post .post-header,
.comments .comment .comment-header {
  font-size: 10px;
  font-size: 0.65em;
}

.posts .post h2,
.posts .post p,
.comments .comment h2,
.comments .comment p {
  margin: 10px auto;
}

.posts .post h2,
.comments .comment h2 {
  font-size: 20px;
  font-size: 1.25em;
  margin: 1em auto;
}

.posts .post p,
.comments .comment p {
  font-size: 16px;
  font-size: 1em;
  max-width: 70%;
  margin: 1em 0;
  line-height: 1.4;
}

.posts .post .post-actions,
.comments .comment .comment-actions {
  position: absolute;
  right: 0;
  bottom: 5%;
  padding: 1em;
}

.posts .post .post-actions span,
.comments .comment .comment-actions span {
  display: inline-block;
  margin: 0 5px;
}
.posts .post .post-actions i,
.comments .comment .comment-actions i{
  font-size: 16px;
  font-size: 1em;
}

.author-name{
  font-size: 12px;
}
.timestamp {
  margin: 5px auto;
}
.timestamp i{
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

/* controls */
.controls {
  position: absolute;
  top: 10px;
  right: 10px;
}
.controls button,
.controls a,
.vote-button,
.post-actions button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.controls button i,
.controls a i,
button.vote-button i {
  font-size: 18px;
  font-size: 1.125em;
}




/* Form Styles */
form {
  width: 500px;
  text-align: left;
  margin: 0 auto;
}
form .form-field {
  text-align: left;
  margin: 20px auto;

}
form label,
form input,
form textarea {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

form label,
.submit-button {
  display: flex;
  align-items: center;
}
form label span {
  flex: 2;
}
form label input,
form label textarea,
form label select {
  flex: 8;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  margin: 10px;
  min-height: 25px;
  border: 1px solid #333;
  border-radius: 0;
  background: transparent;
}

form select {
  position: relative;
}
form select::after {
  content: 'v';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 10px;
  height: 10px;
  color: #000;

}

form input {
  text-align: left;
  height: 25px;
}

form textarea {
  resize: none;
  outline: none;
  border: 1px solid #000;
}
.input-message-box {
  height: 50px;
  transition: all 0.5s ease-in-out;
}
.submit-button {
  justify-content: flex-end;
}

.submit-button button {
  background: none;
  border: 1px solid #333;
  margin: 10px;
  font-size: 0.875em;
}

.submit-button button span,
.submit-button button i {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 10px;
}

#new-comment-form form {
  width: 80%;
  margin: 0;
}
#new-comment-form form label span {
  flex: 3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
