body {
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.categories-nav,
.add-post {
  display: inline-block;
  vertical-align: middle;
}

.add-post i{
  text-align: right;
  font-size: 2.25em;
}

.categories-nav{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.categories-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.categories-nav li a {
  text-decoration: none;
  color: inherit;
  background: #efefef;
  padding: 10px;
  display: block;
}

.categories-nav li a:hover {

}

.categories-nav li a.active {
  background: #000;
  color: #fff;
}

/* POSTS */
.posts {
  width: 80%;
  margin: 0 auto;
}

.posts a {
  text-decoration: none;
  color: inherit;
}

.posts .post {
  background: #efefef;
  padding: 1em;
  margin: 15px auto;
  text-align: left;
  position: relative;
}

.posts .post .post-header {
  font-size: 10px;
  font-size: 0.65em;
}

.posts .post h2,
.posts .post p {
  margin: 10px auto;
}

.posts .post h2 {
  font-size: 20px;
  font-size: 1.25em;
  margin: 1em auto;
}

.posts .post p {
  font-size: 16px;
  font-size: 1em;
  max-width: 70%;
  margin: 1em 0;
  line-height: 1.4;
}

.posts .post .post-actions {
  position: absolute;
  right: 0;
  bottom: 5%;
  padding: 1em;
}

.posts .post .post-actions span {
  display: inline-block;
  margin: 0 5px;
}
.posts .post .post-actions i{
  font-size: 16px;
  font-size: 1em;
}

form {
  width: 400px;
  text-align: left;
  margin: 0 auto;
}
form .form-field {
  text-align: left;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
form label,
form input,
form textarea {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 10px;
}

form label {
  flex: 1;
}
form input,
form textarea,
form select {
  flex: 5;
}

form input {
  text-align: left;
  border: 1px solid #000;
  height: 25px;
}

form textarea {
  resize: none;
  outline: none;
  border: 1px solid #000;
}
.input-message-box {
  height: 50px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
.submit-button {
  justify-content: flex-end;
}

.submit-button button {
  background: none;
  border: 0;
}

.submit-button button span,
.submit-button button i {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
